.app-container {
  position: relative;
  padding: 1rem;
  columns: 260px 3;
  column-gap: 0.5rem;
}
.center-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
}
